poc/*/target/
poc/*/dependency-reduced-pom.xml
pruned/
instrumentor-log-*.txt
instrumentor-events-*.txt
/event_dictionary.txt
/comment-mapping.txt
/final-output-calltree.json
/final-output-combined.json
/final-output-happensbefore.json
/final-output-calltree.md
/final-output-combined.md
/final-output-happensbefore.md
**/target/
