demos/*/target/
demos/*/dependency-reduced-pom.xml
pruned/
instrumentor-log-*.txt
instrumentor-events-*.txt
/event_dictionary.txt
/comment-mapping.txt
/final-output-calltree.json
/final-output-combined.json
/final-output-happensbefore.json
/final-output-calltree.md
/final-output-combined.md
/final-output-happensbefore.md
AI_Dev_Prompt.md
AI_Code_Audit_Prompt.md
AI_Bug_Localization_Prompt.md